<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154990080538-pt8dpfp3qktn4vhjhkm0712g6orqei2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154990080538-pt8dpfp3qktn4vhjhkm0712g6orqei2r</string>
	<key>API_KEY</key>
	<string>AIzaSyD45AyYYUfmcVyGaetpVjkIRox1dtNyVoM</string>
	<key>GCM_SENDER_ID</key>
	<string>154990080538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.will.haslett.covidlocal</string>
	<key>PROJECT_ID</key>
	<string>covidlocal</string>
	<key>STORAGE_BUCKET</key>
	<string>covidlocal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154990080538:ios:88149875b719fb6463d7a3</string>
	<key>DATABASE_URL</key>
	<string>https://covidlocal.firebaseio.com</string>
</dict>
</plist>